img {
    height: 100px; width: 200px; overflow: hidden;
}


.carousel-inner > .item > img {
  margin: 0 auto;
}
.carousel-inner{
    background-color: Crimson;
}

h2 {
    text-align: center;
    color: Aqua;
}
Body
{background-color: grey;}